
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1 {
    color: #007bff;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.container {
    margin-top: 20px;
}
